# SERVER
PORT=3000

# SECURITY (MANDATORY)
# Must match auth-service JWT_SECRET exactly
JWT_SECRET=

# PROXY URLS (DOCKER SERVICE NAMES)
AUTH_SERVICE_URL=http://auth:8001
AI_SERVICE_URL=http://ai:8000
HR_SERVICE_URL=http://hr:8002
PROJECT_SERVICE_URL=http://projects:8003
FINANCE_SERVICE_URL=http://finance:8004
